.container {
    margin: 10px 0;
}

.header {
    background:#337ab7;
    color: #FFF;
    /* background: linear-gradient(-45deg,#ec5252 ,#6e1a52 ); */
}

.el {
    border-radius: 4px;
}

body {
   background: #F7F7F7 !important;
}

.popover {
    width: 100%;
}