.container {
    margin: 10px 0;
}

.header {
    background:#337ab7;
    color: #FFF;
}

.el {
    border-radius: 4px;
}

body {
   background: #F7F7F7 !important;
}

.popover {
    width: 100%;
}

.modal-dialog {
    height: 235px !important;
    width: 450px !important;
}

.modal-body, .modal-header {
    padding: 0px !important;
}

@import "bourbon";

body {
	background: #eee !important;	
}

/* .wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
} */

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
  }
  
  .form-signin-heading h2 {
    text-align: center;
    font-size: 1.8em;
  }

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
    padding: 0px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

.loginmodal-container-header {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

/****** Welcome MODAL ******/

.greetings {
  text-align: center;
  width: 600px !important;
  height: 299px !important;
  margin-top: 100px;
}


#greeetings-content > .modal-content-heading {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

#greeetings-content > .modal-content-body {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.btn-primary {
  margin-top: 50px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  margin-bottom: 5px
}
